body {
    font-family: Arial, sans-serif;
    background-color: #feffee;
    color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #826a00;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(52, 255, 1, 0.1);
    width: 300px;
    background-color: #fffbc1; 
}

input {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #826a00;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #826a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #504307;
}